body {
    background-color: #333;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #444;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav input[type="text"], nav select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #555;
    color: white;
}

nav select {
    margin-left: 10px;
}

.user-actions a {
    color: white;
    text-decoration: none;
}

.user-actions a:hover {
    text-decoration: underline;
}

main {
    background-color: #333;
    padding: 20px;
}

.page-title h1 {
    font-size: 24px;
    color: white;
}

.categories {
    display: flex;
    margin-top: 20px;
}

.category {
    background-color: #555;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.coupons-table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.coupon {
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.coupon img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.categories img{
    max-width: 100%;
    height: auto;
}


.coupon p {
    color: white;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
