<header>
    <nav>
        <ul>
            <li><span class="material-icons">reorder</span></li>
            <li><input type="text" [(ngModel)]="searchTerm" placeholder="Search" (input)="search()" ></li>
            <li>
                <select id="category">
                    <option value="category1">Category 1</option>
                    <option value="category2">Category 2</option>
                    <option value="category3">Category 3</option>
                </select>
            </li>
            <li><span class="material-icons">favorite</span></li>
            <li><span class="material-icons" onclick="window.location='/placing'">shopping_cart</span> </li>
        </ul>
    </nav>
    <div class="user-actions">
        <a href="/login">Login</a> |
      <a href="/registration">Sign Up</a> |
      <a href="/creation">Create Coupon</a>
    </div>
</header>
<main>
    <div class="page-title">
        <h1>Coupons</h1>
    </div>
    <div class="categories">
        <div class="category"> <img src="../../../../assets/images/category.jpg" alt="Category 1"></div>
        <div class="category"><img src="../../../../assets/images/category.jpg" alt="Category 2"></div>
        <div class="category"><img src="../../../../assets/images/category.jpg" alt="Category 3"></div>
    </div>

    <div id="coupons" class="coupons-table"  >
      <ng-container *ngFor="let coupon of filteredCoupons">
            <div class="coupon" (click)="redirectToOrder(coupon)" >
              <img src="../../../../assets/images/coupon1.jpg" alt="Short description">
              <p>Name: {{coupon.name}}</p>
              <p>Short description: {{coupon.description}} </p>
              <p>Price: {{coupon.price| price:'UAH':'left' }}</p>
              <p>Valid until: {{coupon.lastUpdateData}}</p>
            </div>
      </ng-container>
        </div>
  <div class="to-top" (click)="scrollToTop()" [ngClass]="{ 'show-scrollTop': windowScrolled }">
    <img src="../../../../assets/images/topUp.jpg" alt="top"/>
  </div>
</main>

