* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



header {
  background-color: #444;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

nav ul li {
  margin-right: 20px;
}

nav input[type="text"], nav select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #555;
  color: white;
}

nav select {
  margin-left: 10px;
}

.user-actions a {
  color: white;
  text-decoration: none;
}

.user-actions a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  background-color: #333;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  height : 100vh;
}

.item-details {
  display: flex;
  align-items: flex-start;
}

.item-image {
  flex: 1;
  margin-right: 20px;
}

.item-image img {
  max-width: 100%;
  height: auto;
}

.item-info {
  flex: 2;
  background-color: #444;
  padding: 20px;
  border-radius: 5px;
}

.item-info h1 {
  font-size: 24px;
  color: white;
}

.item-info p {
  color: white;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.item-description {
  margin-top: 20px;
}

.item-description h2 {
  font-size: 20px;
  color: white;
}

.item-description p {
  color: white;
}
